.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: firebrick;
    padding: 20px;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px ;
    
    
    /* width: 70%; */
}

#bebida{
    width: 50%

}

#titulo{
    text-align: justify;
}

.local{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: auto auto;
    padding: 20px;
    align-items: center;
}

@media(min-width: 800px) {
    .container {
          padding-right: 2.5rem;
          padding-left: 2.5rem;	
      }
  }
  
  @media(min-width: 1200px) {
      .container {
          padding-left: calc((100vw - 900px)/2);
          padding-right: calc((100vw - 900px)/2);
      }
  }
  